@import '../../styles/settings.scss';

.component {
  padding: $base-size;
}

.description:not(:empty) {
    margin: 0 0 ($base-size * 3);
    text-align: center;
  }
  

.title {
  padding: ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

